/* line 1, /media/mhabibih/08966A79966A66E2/Proyek/Alumni Sekolah/app/assets/stylesheets/administrators.css.scss */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #005f9e;
}

/* line 7, /media/mhabibih/08966A79966A66E2/Proyek/Alumni Sekolah/app/assets/stylesheets/administrators.css.scss */
.admin-main {
  text-align: center;
  margin-top: 10px;
}

/* line 12, /media/mhabibih/08966A79966A66E2/Proyek/Alumni Sekolah/app/assets/stylesheets/administrators.css.scss */
.admin-content {
  padding: 20px;
}

/* line 16, /media/mhabibih/08966A79966A66E2/Proyek/Alumni Sekolah/app/assets/stylesheets/administrators.css.scss */
.admin-nama {
  display: flex;
  justify-content: center;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 24, /media/mhabibih/08966A79966A66E2/Proyek/Alumni Sekolah/app/assets/stylesheets/administrators.css.scss */
.admin-nama p {
  font-size: 1.3em;
}

/* line 28, /media/mhabibih/08966A79966A66E2/Proyek/Alumni Sekolah/app/assets/stylesheets/administrators.css.scss */
.admin-nama .name, .title {
  text-align: left;
}

/* line 32, /media/mhabibih/08966A79966A66E2/Proyek/Alumni Sekolah/app/assets/stylesheets/administrators.css.scss */
.admin-nama .title p {
  font-weight: 600;
}
