<div class="container">
  <div class="box-default user-main">
    <div style="width: 100%">
      <h1>Create new User</h1>
      <br>
    </div>

    <%= form_for @user do |f|%>
      <div class="form-group" align = "center">
        <div class="container-fluid">
          <%= f.text_field :username, class: "form-control", placeholder: "Enter Username" %>
        </div>
      </div>
      <div class="form-group" align = "center">
        <div class="container-fluid">
          <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
        </div>
      </div>

      <div align="center">
        <%= f.submit("Create Account", class: "button-default") %>
      </div>
    <% end %>
    <br>
  </div>
</div>