h1 {
    font-size: 2em;
    font-weight: bold;
    color: #005f9e;
}

h2 {
    font-weight: 400;
    font-size: 1.5em;
    color: #3f3f3f;
}

.alumni-main {
    //justify-content: center;
    margin-top: 10px;
}

.alumni-main .row {
    margin: auto;
}

.alumni-main .col-lg-8 {
    margin: auto;
}

.alumni-main .col-lg-3 {
    margin: auto;
}

form {
    display: block;
}

form select {
    display: block;
    margin-bottom: 18px;
}

#alumni-filter {
    text-align: left;
    // top: 0;
    margin-top: 0px;
    height: 100%;
}

#alumni-list {
    text-align: left;
    word-wrap: break-word;
    margin-top: 0px;
    height: 100%;
}

.alumni-span {
    word-wrap: break-word;
    background-color: white;
    margin-bottom: 2vh;
    display: flex;
}

.alumni-span h1 {
    font-size: 2em;
    font-weight: 600;
    color: #757475;
}

.alumni-controller {
    display: flex;
}

.alumni-data{
    word-wrap: break-word;
}

.alumni-photo {
    margin-right: 1.5vw;
}

.alumni-photo img {
   // width: 100px;
    //height: auto;
}

.edit {
    display: flex;
}

.edit-left {
    width: 35%;
    text-align: right;
    margin: 5px;
    margin-right: 5px;
}

.edit-right {
    width: 65%;
    margin: 5px;
}

.edit-right input {
    width: 80%;
}

.edit-right textarea {
    width: 80%;
    height: 100px;
}