<% if logged_in?%>
    <%= form_tag('/pengantar', method: 'post') do %>
        <%= text_field_tag(:text_pengantar)%>
        <%= submit_tag('Edit Kata Pengantar')%>
    <% end %>
<% end %>

<div style="margin: auto;">
    <% if !@administrator.text_pengantar.nil?%>
        <%= simple_format(@administrator.text_pengantar) %>
    <%end%>
</div>