h1 {
    font-size: 2em;
    font-weight: bold;
    color: #005f9e;
}

.event-span h1 {
    font-size: 1.7em;
    font-weight: bold;
    color: #3f3f3f;
}

.event-span h3 {
    font-size: 1.2em;
    color: #ff9900;
}

.event-span img {
    width: 100%;
}

.event-main {
    justify-content: center;
    margin-top: 10px;
}

.event-main .row {
    text-align: center;
    margin: auto;
}

.event-main .col-lg-8 {
    margin: auto;
}

.event-main .col-lg-4 {
    margin: auto;
}

.event-list {
    text-align: left;
    word-wrap: break-word;
    margin-top: 0px;
}

.event-part {
    margin-bottom: 20px;
}

.event-part p {
    font-size: 1em;
}

.event-span-photo {
    height: 200px;
    overflow: hidden;
}

.event-span-photo img {
    width: 100%;
}

#event-next, #event-calendar {
    text-align: left;
    height: 100%;
    margin-top: 0px;
}

.side-event-photo {
    overflow: hidden;
    height: 15vh;
}

#event-next img {
    width: 100%;
    height: auto;
}

/* Event Edit */

.edit {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.edit-left {
    width: 35%;
    text-align: right;
    margin: 5px;
    margin-right: 5px;
}

.edit-right {
    width: 65%;
    margin: 5px;
}

.edit input {
    width: 100%;
}

.edit textarea {
    width: 100%;
    min-height: 30em;
}

.side-event h1 {
    font-size: 1em;
    font-weight: 400;
}

.side-event p {
    font-size: 0.75em;
}

@media screen and (max-width: 998px) {
    .event-main .row {
        display: block;
    }

    .event-main .col-lg-8 {
        display: block;
    }

    .event-main .col-lg-4 {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 200px;
        font-weight: bold;
        color: #000000;
    }
    
    .event-span h1 {
        font-size: 200px;
        font-weight: bold;
        color: #ff0000;
    }
    
    .event-span h3 {
        font-size: 200px;
        color: #ffffff;
    }

    .container {
        margin: 0;
    }

    .event-main .row {
        margin: 0;
        padding: 0;
    }

    .event-main .col-sm-8 {
        margin: 0;
        padding: 0;
    }

    .event-main .col-sm-4 {
        margin: 0;
        padding: 0;
    }

    .event-part h1 {
        font-size: 4em;
    }
    
    .event-span h1 {
        font-size: 3.4em;
    }
}