// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #005f9e;
}

.event-span h1 {
  font-size: 1.7em;
  font-weight: bold;
  color: #3f3f3f;
}

.event-span img {
    clip-path: rect(0px,60px,200px,0px);
}

.event-main {
    // width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.event-list {
    text-align: left;
    width: 40vw;
    word-wrap: break-word;
    height: 100%;
    margin: 10px;
    margin-top: 0px;
}

.event-part {
    margin-bottom: 20px;
}

.event-span-photo {
    //width: 141px;
    height: 176px;
    overflow: hidden;
}

.event-span-photo img {

}

#event-next, #event-calendar {
  text-align: left;
  max-width: 20vw;
  height: 100%;
  margin: 10px;
  margin-top: 0px;
}

#event-next, #event-calendar {
    text-align: left;
    max-width: 20vw;
    height: 100%;
    margin: 10px;
    margin-top: 0px;
}

#event-calendar {
    text-align: left;
    max-width: 20vw;
    height: 100%;
    margin: 10px;
    margin-top: 0px;
}

/* Event Edit */

.edit {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.edit-left {
    width: 35%;
    text-align: right;
    margin: 5px;
    margin-right: 5px;
}

.edit-right {
    width: 65%;
    margin: 5px;
}

.edit input {
    width: 100%;
}

.edit textarea {
    width: 100%;
    min-height: 50em;
}

.side-event {

}

.side-event h1 {
    font-size: 1em;
    font-weight: 400;
}

.side-event p {
    font-size: 0.75em;
}