h1 {
    font-size: 2em;
    font-weight: bold;
    color: #005f9e;
}

.login-main {
	justify-content: center;
	text-align: center;
	margin: auto;
    margin-top: 10px;
    width: 450px;
}

@media screen and (max-width: 767px) {
    .login-main {
        width: 100%;
    }
}