<nav class="navbar navbar-expand-sm">
    <!-- Links -->
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Event</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Alumni</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
        </li>
    </ul>
</nav>